{% extends 'base.html' %}

{% block content%}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">
           Aplicacion Web de Administracion de Documentos de Asunto.
        </h1>
        <p>Esta es una aplicacion web, de tareas con complemento de gestion de archivos, para crear, eliminar, actualizar y leer tareas asignadas a un usuario.</p>
        <div class="text-center">
           <a class="btn btn-secondary" href="/inicio/">
            Iniciar Sesion
           </a>

            <a class="btn btn-dark" href="/registrar/">
            Resgistrarse
            </a >
        </div>
    </section>
</main>

{% endblock  %}