{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="col row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-secondary">{{task.titulo}}</h1>
    
            {{error}}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                
                <button class="btn btn-dark">
                    Actualizar
                </button>
            </form>

            <div>
            
                <form action="{% url 'complete_tarea' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-secondary">Completado</button>
                </form>
                <form action="{% url 'delete_tarea' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">Eliminar</button>
                </form>
            
            </div>
        </div>
    </div>
</main>

{% endblock  %}